[user]
	name = Petar Metodiev
	email = petar.metodiev@gmail.com
[credential]
	helper = cache --timeout=172800 # Remember credentials for 48 hours.
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
	excludesfile = /Users/twick/.gitignore
[push]
	default = simple
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = cyan bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = cyan bold
	oldHighlight = "cyan bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
    remote = yellow
[alias]
	tree = log --pretty=format:\"%C(cyan)|%h| %cr%Creset %C(yellow)%an:%Creset %C(magenta)%d%Creset %s\" --graph --color --all
    cob = checkout -b
    co = checkout
    start-from = rebase
    iadd = add -i
    undo = reset --soft HEAD^
    unpushed = log @{u}.. --pretty=format:\"%C(cyan)|%h| %cr%Creset %C(yellow)%an:%Creset %C(magenta)%d%Creset %s\" --graph --color
    all-unpushed = log @{u}.. --pretty=format:\"%C(cyan)|%h| %cr%Creset %C(yellow)%an:%Creset %C(magenta)%d%Creset %s\" --graph --color --all
	discard = checkout
	discard-all = checkout -- .
	unstage-all = reset
[http]
	sslVerify = true
