[user]
	name = Petar Metodiev
	email = petar.metodiev@gmail.com
[credential]
	helper = cache --timeout=172800 # Remember credentials for 48 hours.
[core]
	pager = diff-so-fancy | less --tabs=4 -RXS
	editor = nvim
	excludesfile = /Users/twick/.gitignore
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
    remote = yellow
[alias]
	aliases = config --get-regexp alias
	tree = log --pretty=format:\"%C(cyan)|%h| %cr%Creset %C(yellow)%an:%Creset %C(magenta)%d%Creset %s\" --graph --color --all
	iadd = add -i
	unpushed = log @{u}.. --pretty=format:\"%C(cyan)|%h| %cr%Creset %C(yellow)%an:%Creset %C(magenta)%d%Creset %s\" --graph --color
	all-unpushed = log @{u}.. --pretty=format:\"%C(cyan)|%h| %cr%Creset %C(yellow)%an:%Creset %C(magenta)%d%Creset %s\" --graph --color --all
[http]
	sslVerify = true
