[
  {
    "openSelectedFolders" : true,
    "keyCode" : 49,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false,
    "modifierFlags" : 1179648,
    "enabled" : false,
    "openSelectedFiles" : true,
    "order" : 0
  },
  {
    "enabled" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "keyCode" : 46,
    "order" : 1,
    "url" : "\/Applications\/Messenger.app",
    "modifierFlags" : 1835305,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAJMRko1jZgothT+exq7Oyr1nMCYwNHRhn4QwT6vRf1HgUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABNZXNzZW5nZXIuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAbHsFAAAAAAAIAAAABAMAAJe0DAAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcUPa4SAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHFB3qgAAAAJAAAAAEBAAAxN0Q2NEZGMC1EQjU5LTQ4RjgtQjBGMC1EOUQ4Q0NBRjk2M0QYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "keyCode" : 3,
    "enabled" : true,
    "hideIfActive" : false,
    "order" : 2,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAABhHt4SI4HF\/1JcaQPu1kKp9tQTLf170AoanCGd7amBXTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABsewUAAAAAAAgAAAAEAwAA2wcJAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxQ3hSoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcUHeqAAAAAkAAAAAQEAADE3RDY0RkYwLURCNTktNDhGOC1CMEYwLUQ5RDhDQ0FGOTYzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Firefox.app",
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 1835305
  },
  {
    "order" : 3,
    "modifierFlags" : 1835305,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "enabled" : true,
    "url" : "\/Applications\/Spotify.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAJu9F5\/b1qk5gJebBNaNPJKYqeW2AaYsJOthmiVj\/NB2TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABsewUAAAAAAAgAAAAEAwAA0s8MAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxQ28mgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcUHeqAAAAAkAAAAAQEAADE3RDY0RkYwLURCNTktNDhGOC1CMEYwLUQ5RDhDQ0FGOTYzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "keyCode" : 1
  },
  {
    "enabled" : true,
    "hideIfActive" : false,
    "order" : 4,
    "keyCode" : 18,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAFJmCHmqv3SbwpnVB1ugGnLUjPK1d2poUfniK5jV98yiTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABsewUAAAAAAAgAAAAEAwAAfgQIAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxRb8IijJlBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcUHeqAAAAAkAAAAAQEAADE3RDY0RkYwLURCNTktNDhGOC1CMEYwLUQ5RDhDQ0FGOTYzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "modifierFlags" : 1319176,
    "url" : "\/Applications\/kitty.app"
  },
  {
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAANmCgJV5ZQtkGIzCQvMZJhY9P2KDC2Ne0tcEdh03Jop9VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGx7BQAAAAAACAAAAAQDAAD4QAQAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHFEMSBgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxQd6oAAAACQAAAABAQAAMTdENjRGRjAtREI1OS00OEY4LUIwRjAtRDlEOENDQUY5NjNEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFiles" : true,
    "modifierFlags" : 1319176,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "hideIfActive" : false,
    "enabled" : true,
    "order" : 5,
    "keyCode" : 19
  },
  {
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Slack.app",
    "order" : 6,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "enabled" : true,
    "keyCode" : 20,
    "modifierFlags" : 1319176,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAMfSGNgUf3jlie\/\/pFbqNF5M4SBfkiMm+GRAnIS2wXM8TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABsewUAAAAAAAgAAAAEAwAA9WgEAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxPl5m4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcUHeqAAAAAkAAAAAQEAADE3RDY0RkYwLURCNTktNDhGOC1CMEYwLUQ5RDhDQ0FGOTYzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "hideIfActive" : false,
    "order" : 7,
    "keyCode" : 21,
    "url" : "\/Applications\/zoom.us.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAFaUapkePaOqhVHTJDZhlh0n00PvF0tzM6\/eHbP9IlHOTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAAB6b29tLnVzLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABsewUAAAAAAAgAAAAEAwAA+UMEAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxQHJJAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcUHeqAAAAAkAAAAAQEAADE3RDY0RkYwLURCNTktNDhGOC1CMEYwLUQ5RDhDQ0FGOTYzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 1319176
  }
]